{{#if messages.error}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{#if escapeMsg}} {{messages.error}} {{else}} {{{messages.error}}} {{/if}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}
{{#if messages.warning}}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{#if escapeMsg}} {{messages.warning}} {{else}} {{{messages.warning}}} {{/if}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}
{{#if messages.info}}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{#if escapeMsg}} {{messages.info}} {{else}} {{{messages.info}}} {{/if}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}
{{#if messages.success}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{#if escapeMsg}} {{messages.success}} {{else}} {{{messages.success}}} {{/if}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/if}}
